{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div style="max-width: 400px; margin: 50px auto 20px auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); background-color: #fff; text-align: center;">

    <h1> Sell Your Property</h1>

    <form method="POST" style="margin-top: 20px; display: inline-block; text-align: left;">

        {% csrf_token %}

        <div style="text-align: left;">
            <label  style="font-weight: bold;">Property Title:</label><br>
            {{ form.property_title }}
            <br>

            <label  style="font-weight: bold;">Property Description:</label><br>
            {{ form.property_description }}
            <br>

            <label  style="font-weight: bold;">Property Type:</label><br>
            {{ form.property_type }}
            <br>

            <label  style="font-weight: bold;">Property Category:</label><br>
            {{ form.property_category }}
            <br>
            <label  style="font-weight: bold;">Property Price:</label><br>
            {{ form.property_price }}
            <br>
            <label  style="font-weight: bold;">City:</label><br>
            {{ form.property_location }}
            <br>
            <label  style="font-weight: bold;">Property Features:</label><br>
            {{ form.property_features }}
            <br>
            <label  style="font-weight: bold;">Seller Email:</label><br>
            {{ form.seller_email }}
            <br>
            <label  style="font-weight: bold;">Seller Phone:</label><br>
            {{ form.seller_phone }}
            <br>
            <label  style="font-weight: bold;">Property Images:</label><br>
            {{ form.property_images }}
            <br>
            <label  style="font-weight: bold;">Select Agent:</label><br>
            {{ form.agent }}
            <br>

        </div>

        <div style="text-align: center;">
            <input type="submit" value="Submit" style="background-color: #007bff; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; margin-top: 20px;">
        </div>

    </form>

</div>
{% endblock %}
