{% extends "core/base.html" %}
{% load static %}

{% block content %}
 <header class="bg-secondary text-light py-5">
        <div class="container text-center">
            <h1 class="display-4">About Us</h1>
        </div>
    </header>

    <main class="container my-5">
        <section>
            <h2>Our Story</h2>
            <p>
                Welcome to Your Real Estate Company, where we turn your property dreams into reality. Founded in 2023, we have been dedicated to providing top-notch real estate services
                to our valued clients for over a decade.
            </p>
            <p>
                Our journey started with a vision: to create a modern and innovative real estate agency that offers personalized solutions to meet the unique needs of each client. Today,
                that vision is a reality.
            </p>
        </section>

        <section class="mt-5">
            <h2>Our Mission</h2>
            <p>
                At Your Real Estate Company, our mission is simple yet powerful: to help you find your perfect home or investment property while ensuring a smooth and stress-free
                experience. We are committed to delivering exceptional service, honest advice, and expert guidance throughout your real estate journey.
            </p>
            <p>
                Whether you are buying, selling, renting, or investing, our team of dedicated professionals is here to support you every step of the way. Your satisfaction is our ultimate
                goal, and we take pride in exceeding your expectations.
            </p>
        </section>
    </main>
{% endblock %}